<span style='color: #000' title='Frames'>  1626</span><span style='color: #009' title='Memory'>  33792.00 KB</span><span style='color: #900' title='Time'>   3954.85 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />