html,body{
	background: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/background.png);
}
.navbar-top{
	height: 120px;
	line-height: 120px;
}
.message-dropdown{
	padding: 15px;
}

/* drop cap */
.firstcharacter { float: left; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px;}
/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}
/*************************************
 * specific styling for #demo2
 ************************************/
.als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 100px;
	min-width: 100px;
	text-align: center;
}

.als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}
.als-prev, .als-next {
	top: 40px;
}

.als-prev {
	left: 50px;
}

.als-next {
	right: 50px;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */ 
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */

.tab-content-data{
	padding: 20px 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  height: 20px;
}
/** Color scheme **/
.panel-title{
	color: #F9A443;
}
.navbar-default {
    background-color: #0B6938;
    border-color: #0B6938;
}
.navbar-default .navbar-nav > li > a {
    color: #F9A443;
}
.panel-default > .panel-heading {
    background-color: #0B6938;
}
.panel-default {
    border-color: #0B6938;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #78A22D;
    color: #B45030;
}
a {
    color: #0B6938;
}
.breadcrumb {
    background-color: #0B6938;
    color: #B45030;
}
.breadcrumb a{
	color: #F9A443;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #F9A443;
    border-color: #F9A443;
    color: #fff;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #0B6938;
}
.btn-primary {
    background-color: #F9A443;
    border-color: #F9AC59;
    color: #fff;
}